<div class="col-xs-5">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12">
      <button class="btn btn-success btn-block">New Recipe</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let recipe of recipes; let i = index">
          <app-recipe-item [recipe]="recipe" [id]="i"></app-recipe-item>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-xs-7">
  <router-outlet></router-outlet>
</div>
